*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Constantia", serif

}

nav {
    height: 10%;
    position: fixed;
    top: 1px;
    width: 100%;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav a {
    color: #289487;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding: 2%;
}

.container {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}

header {
    height: auto;
    width: 100%;
}
.container img {
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moverderecha 2s ease-in;
}
.texto {
    font-size: 30px;
    color: black;
    line-height: 1.5
}
.home {
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff; /* Cambia el color del texto si es necesario */
    width: 100%;
    height: auto;
    padding: 48px;
}
.wave {
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes moverderecha{
    0%{
        opacity: 0;
        transform: translatey(100px);

    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes moverarriba{
    0%{
        opacity: 0;
        transform: translatey(100px);

    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}

.InfoProyect {
    font-size: 20px;
    margin: 90px;
    line-height: 1.5;
    display: flex;
}
.InfoProyect h1 {
    font-size: 70px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 47px;
    color: #4AC29A;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Proyect {
    font-size: 20px;
    padding: 110px;
    line-height: 1.5;
}
.imagees {
    width: 45%;
}

.Proyect h1 {
    font-size: 60px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 47px;
    color: #4AC29A;  /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.images {
    display: flex;
    flex-wrap: wrap;
}
.bor {
    width: 45%;
    margin: 2%;
    border-color: black;
    padding: 1%;
    border: 2px solid #4AC29A;
    border-radius: 5%;
}

.images img {
    border-radius: 5%;
    width: 100%;
    animation: moverarriba 2s ease-in;
}

.Team {
    font-size: 20px;
    background: #4AC29A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BDFFF3, #4AC29A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.Team h1 {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 47px;
}
.members {
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-wrap: wrap; /* Permite que los miembros se muestren en filas */
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  .pepole {
    margin: 10px; /* Espacio entre los miembros del equipo */
    flex: 1; /* Hace que cada miembro ocupe el espacio disponible horizontalmente */
    text-align: center;
    max-width: 250px; /* Ajusta el ancho máximo de cada miembro */
  }
  
  .circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 0 30px -5px #cfcfcf;
  }
  
  .circle img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    animation: moverarriba 2s ease-in;
  }
  
  .info {
    margin: 10px 0;
    text-align: center;
  }
  
  .info p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

.Carto {
    padding: 70px;
}

.Carto h2 {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 47px;
}
.Carto p {
    margin-left: 10%;
    margin-right: 10%;
}
footer {
    padding-left: 20%;
    padding-right: 10%;
    font-size: 20px;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50vh; /* Ajusta la altura del contenedor según la pantalla */
}

footer p {
    margin-right: 10px;
    line-height: 1.5
}

footer .footer-column {
    flex: 1;
    padding: 0; 
    margin: 0;
};